.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
}
