.profile__content {
  display: flex;
  margin-right: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .profile__content {
    margin-right: 0;
  }
}
@media screen and (max-width: 520px) {
  .profile__content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
